@page
@model CloudDevelopmentWeb.Pages.About_UsModel
@{

}

<html lang="en">

   
<body>
    <style>

        h2{
            color:white;
        }

        h3{
            font-weight:bold;
        }

    </style>

    <header>
        <center>
            <nav>
                <ul>
                    <li>
                        <a href="/Index">Home</a>
                    </li>
                    <li>
                        <a href="/About_Us">About</a>
                    </li>
                    <li>
                        <a href="/Contact_Us">Contact</a>
                    </li>
                    <li>
                        <a href="/MyWork_Page">My Work</a>
                    </li>

                </ul>
            </nav>

        </center>
    </header>




    <div class="container">

        <div class="craft-work">
            <br />
            <br />

            <img src="~/css/founder.jpg" alt="Craft 3" style="width:200px;height:300px">
            <br />
            <h4>The Founder For KhumaloCraft</h4>
            
        </div>

        <br />
        <br />
        <h2><u> Welcome to KhumaloCraft: Where Artistry Meets Passion </u></h2>
        
          <br />

          <h3> At KhumaloCraft, we believe in the transformative power of creativity to enrich lives and ignite imagination.
            Our journey began with a simple yet profound idea: to honor the artistry and craftsmanship of handmade goods
            while cultivating a vibrant community of creators and connoisseurs. Established by a collective of dedicated artisans, 
            our venture has flourished into a beacon of excellence, originality, and innovation in the realm of craftwork.
        </h3>

        <br />
        <br />


        <h2> <u>Our Story </u></h2>

      <br />

        <h3>    KhumaloCraft was born from a shared reverence for the beauty and authenticity inherent in handmade creations.
            Our founders, a diverse group of artisans from different walks of life, united around a common vision: to showcase
            the exceptional talents of skilled craftspeople and provide a platform for their extraordinary work to be cherished.
            What began as a modest endeavor has since blossomed into a thriving enterprise, serving patrons worldwide with our
            meticulously curated array of handcrafted treasures. </h3>

            <br />
            <br />

        <h2> <u>  Our Mission </u> </h2>
         <br />

         <h3>   At KhumaloCraft, our mission is to champion and advance the art of craftwork in all its forms. 
            We are steadfast in our commitment to preserving traditional techniques while embracing innovation and contemporary design.
            By collaborating closely with gifted artisans and nurturing a culture of boundless creativity, we strive to 
            connect individuals with exquisite, one-of-a-kind creations that inspire wonder and delight. </h3>

            <br />
            <br />

        <h2><u> Our Values </u></h2>
            <br />
         <h3>   Integrity: Integrity lies at the core of KhumaloCraft. We uphold principles of honesty, transparency,
            and fairness in every facet of our operations, from our partnerships with artisans to our interactions with customers. </h3>

        <br />
        <h3>
            Quality: We are unwavering in our dedication to maintaining the highest standards of craftsmanship and excellence.
            Each item in our collection is meticulously handcrafted with meticulous attention to detail and an unwavering commitment
        to premium materials and superior workmanship. </h3>

        <br />
        <h3>
            Creativity: At KhumaloCraft, we celebrate the endless possibilities of creative expression.
            Our diverse range of products reflects the kaleidoscope of human ingenuity, from time-honored crafts to contemporary
        designs that push the boundaries of innovation. </h3>

        <br />
        <h3>
            Community: We believe in the power of community and the strength of collaboration.
            Through fostering meaningful connections with artisans, customers, and fellow enthusiasts, we endeavor to cultivate
        a supportive and inclusive community where everyone feels valued and inspired. </h3>
        <br />
        <br />

          

        <br />
        <br />
        <br />
        <br />
       
    </div>



</body>
</html>
