@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html lang="en">


<body>
   
        <header>
            <center>
           
                <nav>
                    <ul>
                        <li>
                            <a href="/Index">Home</a>
                        </li>
                        <li>
                            <a href="/About_Us">About</a>
                        </li>
                        <li>
                            <a href="/Contact_Us">Contact</a>
                        </li>
                        <li>
                            <a href="/MyWork_Page">My Work</a>
                        </li>

                    </ul>
                </nav>
            
            </center>
        </header>


    <br />
    <br />
    

        <div class="container">
        <h1> <u>Welcome to KhumaloCraft Emporium </u></h1>
        <br />
        <br />

        <h2>KhumaloCraft Emporium is a global e-commerce platform that showcases handcrafted products from artisans worldwide.
            Our mission is to connect discerning audiences with unique and high-quality craftwork.</h2>
        

            <br />
            <br />
        <button class="my-button">
            <a href="/About_Us">More Info</a>
        </button>
            <br />
            <br />
        <br />
        <br />
        


        <h1> <u>Crafted Work </u></h1>

        <br />
        <br />

        <section class="projects">
            <div class="card">
                <h2>Craft 1</h2>

                </svg>
                <div class="card__content">
                    <img src="~/css/pic2.jpeg" alt="Craft 1" class="card__description" style="width:150px;height:150px ">
                </div>
            </div>

            <div class="card2">
                <h2>Craft 2</h2>
                </svg>
                <div class="card__content">
                    <img src="~/css/pic3.jpeg" alt="Craft 1" class="card__description" style="width:150px;height:150px ">
                </div>
            </div>

            <div class="card3">
                <h2>Craft 3</h2>
                </svg>
                <div class="card__content">
                    <img src="~/css/pic.jpg" alt="Craft 1" class="card__description" style="width:150px;height:150px ">
                </div>
            </div>

        </section>
        <br />
        <br />

        <button class="my-button">
            <a href="/MyWork_Page">More Crafts</a>
        </button>
        <br />
        <br />
        <br />
        <br />

        <div class="container">
            <h1>Contact Us</h1>

         
                <h4>If you have any questions or comments please click here:</h4>
               
                <button class="my-button">
                    <a href="/Contact_Us">Contact</a>
                </button>
                <br />
                <br />
                <h5>OR</h5>
                <br />
            <h4> please contact us using the following information:</h4>
            <h4>Email: info@khumalocraft.com</h4>
            <h4>Phone: 123-456-7890</h4>
                </div>
                </div>
                
           

            <br />
            <br />
            <br />
            <br />
    
</body>
</html>